

@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    body {
      max-width: 95%;
    }
}

@media screen and (min-width: 600px) {
  #nav-icon3,
  #mobileMenu {
    display: none;
  }
  nav ul li:nth-child(2) {
    margin-left: 1em;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .gallerySpace {
      padding-top: 7em;
    }
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    header {
      flex-direction: column;
      align-items: center;
      margin-top: 4em;
      margin-bottom: 4em;
    }
    #branding {
      text-align: center;
    }
    #branding h1 {
      font-size: 4em;
    }
    #branding h2 {
      font-size: 1.2em;
    }
    nav {
      margin-right: 0;
      margin-bottom: 1.5em;
      text-align: center;
    }
    nav ul a {
      margin-left: 0;
      padding: 0.5em;
    }
    nav ul li:nth-child(2) {
      margin-top: 1em;
    }
    .mySlides img {
      width: auto;
      height: 55vh;
    }
    #fullscreenMenu {
      display: none;
    }
    .hide {
      display: none;
    }
    #mobileMenu {
      padding-top: 15px;
      z-index: 10;
    }
    #aboutContent,
    #contactContent {
      padding-top: 0;
    }
}
