
@media screen and (max-width: 1150px) {
  #photoGallery {
    padding-left: 2.5em;
  }
  nav {
    margin-right: 4em;
  }
}

@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    body {
      flex-direction: column;
    }
    header {
      position: relative;
      flex-direction: row;
      height: 200px;
      width: 100%;
      align-items: baseline;
    }
    nav ul {
      flex-direction: row;
    }
    nav {
      border-top: none;
      margin-right: 0;
    }
    nav ul a {
      margin-left: 1em;
    }
    nav ul li:nth-child(2) {
      margin-left: 0.5em;
    }
    #photoGallery {
      margin: 0 1em;
      padding-left: 0;
    }
    header {
      margin-left: 0;
      padding: 2em;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    header {
      flex-direction: column;
      margin-left: 0;
      justify-content: center;
      align-items: center;
      height: 275px;
    }
    #branding {
      text-align: center;
    }
    #branding h1 {
      font-size: 4em;
    }
    #branding h2 {
      font-size: 1.2em;
    }
    nav {
      margin-right: 0;
      margin-bottom: 1.5em;
    }
    nav ul a {
      margin-left: 0;
    }
    .mySlides img {
      width: auto;
      height: 55vh;
    }
}
